<div>
    {{#if big}}
        
        {{#if data.title }} {{!-- перевіряємо чи data це об"єкт --}}
            <h2> {{data.title}} </h2> {{!-- для тих випадків, коли data це об"єкт --}}
        
        {{else}}
            <h2>{{data}}</h2> {{!-- для тих випадків коли data цце строка, а не об"єкт --}}
        {{/if}}

        <div> {{data.text}} </div>

    {{else}}

        {{#if data.title }} {{!-- перевіряємо чи data це об"єкт --}}
            <h3> {{data.title}} </h3> {{!-- для тих випадків, коли data це об"єкт --}}
        
        {{else}}
            <h3>{{data}}</h3> {{!-- для тих випадків коли data цце строка, а не об"єкт --}}
        {{/if}}
        
        <div> {{data.text}} </div>

    {{/if}}
</div>