
<!-- product.hbs -->
<div>
  <div>
    <p> {{title}} </p>
    <span> {{price}} </span>
    <img src="{{img}}" alt="{{name}}">
    {{#if isAvailable}}
      <button>Buy</button>
    {{else}}
      <button>Not available</button>
    {{/if}}
  </div>
