<!DOCTYPE html>
<html>
  <head>
    <title>Заголовок документу</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div>
      {{#with user }}
        <div>{{id}}</div>
        <div>{{name}}</div>
        <div>{{../role}}</div>

        {{hr}}

      <div>{{../post/title}}</div>
      <div>{{../post/text}}</div>
      <div>{{../createDate}}</div>
      <div>{{../../post/id}}</div>

      
      {{/with}}
    </div>
  </body>
</html>