<!DOCTYPE html>
<html>
  <head>
    <title>Заголовок документу</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div>
      <header>
        <h1>User list</h1>
      </header>

      <section>
        <div>
          <ul>
            {{#each users}}
            <li> 
              <div> {{firstname}} {{lastname}} </div>
              <div> Age: {{age}} </div>
              <div> Admin: {{isAdmin}} </div>
              
              <ul>
                {{#each comments}}
                  <li id="{{id}}"> {{text}} </li>
                {{/each}}
              </ul>
            </li>
            {{/each}}
          </ul>
        </div>
      </section>
    </div>
  </body>
</html>