{{!-- 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

  <head>
    <title>
      {{page.title}}
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
  </head>

  <body>
   {{#with header}}
		<header>
			<div>
				<h1>{{title}}</h1>
			</div>
			<div>
				<b>{{position}}</b>
			</div>
			<br>
			<div>
				<em> {{salary}} </em>
			</div>
			<br>
			<hr>
			</header>
	{{/with}}

    <nav>
      <a href="/skils">Skills</a>
      <a href="/summary">Summary</a>
    </nav>
    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   --}}
    {{{body}}}

	{{#with footer}}
		<footer>
			<hr>
			<br>
			{{#with social}}
			{{>link data=email}}
			{{>link data=phone}}
			{{>link data=facebook}}
			{{/with}}
		</footer>
	{{/with}}
  </body>

</html>